@use '@igus/kopla-app/scss-import' as kopla;

// general server errors
$red-600: kopla.get-color('red', 600);
$red-400: kopla.get-color('red', 400);
$red-50: kopla.get-color('red', 50);

// navigation list
$orange-300: kopla.get-color('orange', 300);
$blue-50: kopla.get-color('blue', 50);
$blue-400: kopla.get-color('blue', 400);
$gray-50: kopla.get-color('gray', 50);
$gray-100: kopla.get-color('gray', 100);
$gray-200: kopla.get-color('gray', 200);
$gray-400: kopla.get-color('gray', 400);
$gray-500: kopla.get-color('gray', 500);
$gray-700: kopla.get-color('gray', 700);
$gray-800: kopla.get-color('gray', 800);

// info-i
$orange-400: kopla.get-color('orange', 400);

// cf-price-info-box
$orange-300: kopla.get-color('orange', 300);
$red-500: kopla.get-color('red', 500);

// mat-plan download buttons
$orange-500: kopla.get-color('orange', 500);
$orange-700: kopla.get-color('orange', 700);

:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;

  .technical-work-step-select-form {
    width: 25%;
  }

  .navigation-menu {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    min-width: 270px;
    max-width: 400px;
    margin-right: auto;
    padding-right: 15px;

    .navigation-divider {
      border-color: $gray-100;
      width: 60%;
      margin-left: 7%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .mdc-list-item.calculation-item {
      border: 1px solid $orange-300;
      border-radius: 0 20px 20px 0;
      cursor: text;
      margin-top: 12px;
      height: 72px;

      .mdc-list-item__primary-text,
      .mdc-list-item__secondary-text {
        color: $gray-800;
      }
    }

    .mdc-list-item.parent {
      height: 30px;
      cursor: text;
    }

    mat-list-item.mdc-list-item {
      cursor: pointer;
      height: 90px;

      .mdc-list-item__primary-text,
      .mdc-list-item__secondary-text {
        color: $gray-500;
      }

      &.child-item {
        padding-left: 30px;
      }

      &:not(.current-section):not(.parent):not(.calculation-item):hover {
        .mdc-list-item__primary-text,
        .mdc-list-item__secondary-text {
          color: $gray-700;
        }
      }

      &.current-section {
        background: $blue-50;
        border-radius: 0 20px 20px 0;

        .mdc-list-item__primary-text,
        .mdc-list-item__secondary-text {
          color: $gray-800;
        }
      }
    }
  }

  .results-container {
    overflow-y: auto;
    height: 100%;
    min-width: 1385px;
    padding-right: 15px;

    mat-divider {
      margin: 54px 0 30px 0;
    }
  }

  .headline-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .headline {
      line-height: 32px;
      margin-top: 32px;
      margin-bottom: 8px;
    }
  }

  .button-wrapper {
    align-self: flex-end;
  }

  .sub-headline {
    line-height: 30px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .is-loading {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .configuration-price {
    text-align: right;
    font-size: 16px;

    &:last-child {
      margin-bottom: 4rem;
    }
  }

  .result-box {
    border: 2px $gray-200 solid;
    width: 100%;
    padding: 20px;
    margin: 10px 0 10px 0;

    .complete-configuration-button-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
    }

    .kopla-table {
      .kopla-table__row:hover {
        background-color: kopla.get-color('grey', 100);
      }

      &__header {
        &__icon :not(.discount-header) {
          margin-right: 7px;
        }
        &.scc-header {
          display: flex;
        }
      }

      .kopla-table__cell {
        vertical-align: top;
        padding-right: 3px;
        word-wrap: break-word;

        &.info-i {
          color: $orange-400;
        }

        mat-form-field.small {
          max-width: 100px;
        }

        .amount-input {
          border: 1px solid $gray-200;
          outline: none;
          width: 90%;
          border-radius: 2px;
          text-align: right;
        }

        // LEFT COLUMNS
        &.primary-cell {
          min-width: 88px;
        }

        &.scc-primary-cell {
          display: flex;
          gap: 7px;
          min-width: 200px;

          .align-vertically {
            padding-top: 3px;
          }

          mat-icon {
            &.override {
              color: $orange-300;
            }
          }
        }
        &.config-description {
          width: 1000px;
          overflow-x: visible;
          height: 100%;
        }

        &.description-chainflex {
          min-width: 350px;
        }

        &.description {
          min-width: 199px;
        }

        &.work-step {
          min-width: 470px;
          &.highlighted {
            color: $blue-400;
          }
        }
        // meta data calculation factor
        &.calculation-factor {
          min-width: 175px;
        }

        // meta data risk factor cell
        &.risk-factor-cell {
          display: inline-flex;
          gap: 7px;

          .align-vertically {
            padding-top: 3px;
          }

          mat-icon {
            &.default-deviation {
              color: $orange-300;
            }
          }
        }

        // RIGHT COLUMNS
        &.price {
          float: right;
          text-align: right;
          width: 130px;
        }

        &.discount {
          float: right;
          text-align: right;
          width: 130px;
        }

        &.calc-factor {
          float: right;
          text-align: right;
          width: 130px;
        }

        &.selling-price-per-unit {
          float: right;
          text-align: right;
          width: 130px;
        }

        // for CF
        &.length {
          float: right;
          text-align: right;
          width: 130px;
        }

        // for MAT017 and work steps
        &.quantity {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          float: right;
          text-align: right;
          width: 130px;

          mat-icon {
            font-size: 20px;
            padding-right: 10px;
            color: $orange-300;

            &.reset {
              cursor: pointer;
            }
          }
        }

        &.selling-price {
          float: right;
          text-align: right;
          width: 130px;
        }
      }
    }
  }

  .info-part {
    display: flex;
    padding: 0 5px;
    margin-bottom: 32px;

    .head-line {
      font-size: 18px;
      flex-grow: 1;
    }

    button.mdc-button {
      padding: 0;
      margin-left: 1rem;
    }

    .wrapper {
      display: flex;

      .edit-link:first-child {
        margin-right: 12px;
      }
    }
  }

  .error {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
    color: $red-400;
    background: $red-50;
    border: 1px solid $red-600;

    h3 {
      margin-left: 20px;
    }
  }

  .cf-price-info-box {
    margin-top: 15px;
    border: 3px solid $orange-300;

    .align-content {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}

.align-excel-export-buttons {
  display: flex;
  gap: 10px;
}

.align-items-baseline {
  align-items: baseline;
}

.contents {
  padding: 0 5px;
}

.options-wrapper {
  display: none;
}

.buttons-wrapper {
  display: flex;
}

.cf-deviation-info-cell {
  width: 300px;
}

.cf-deviation-price-cell {
  width: 200px;
  text-align: right;

  &.no-new-price {
    color: $red-500;
  }
}

.cf-price-deviation-cell-width {
  max-width: 110px;

  &.kopla-table__cell {
    word-wrap: break-word;
  }

  &.font-black {
    color: #363636;
  }

  &.font-red {
    color: $red-500;
  }
}

.info-box {
  margin-top: 15px;
  border: 3px solid $orange-300;

  .align-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.config-column {
  max-width: 120px;
  vertical-align: top;
}

.part-number {
  min-width: 160px;
  vertical-align: top;
}

.cf-length {
  max-width: 80px;
  vertical-align: top;
}

.batch-size {
  max-width: 80px;
  vertical-align: top;
}

.price {
  max-width: 200px;
}

.float-right {
  float: right;
  text-align: right;
}

.white {
  color: white;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1820a;
  height: 100%;
  padding: 1rem;
}
.mat-plan {
  &-download-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .xlsx-button {
      width: 100%;
      position: absolute;
      top: 4.8rem;
      z-index: 200;
    }
    .xlsx-option-open {
      background-color: $orange-700;
    }
  }
  &-download {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  &-option-select {
    background-color: $orange-500;
    border-left: solid 1px white;
    height: 4.8rem;
    padding: 1rem;
    align-self: center;
    color: white;
    cursor: pointer;
  }
}

.matplan {
  &-copy-info {
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    font-weight: 500;
    span {
      padding-left: 12px;
    }
  }
  &-main-header {
    margin-bottom: 12px;
  }
}

.is-downloading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 12rem;
}

@media only screen and (max-width: 1400px) {
  .options-wrapper {
    display: block;
  }
  .buttons-wrapper {
    display: none;
  }
}
