@use '@igus/kopla-app/scss-import' as kopla;

$info-icon-color: kopla.get-color('orange', 300);

:host {
  .timestamp-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    span {
      padding-right: 0.2rem;
      font-size: 14px;
    }
  }
  .info-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-icon {
    color: $info-icon-color;
    padding: 0;
    margin: 0;
    margin-left: 2rem;
  }
}
