<kopla-header title="iCalc" subTitle="plastics for longer life®" url="/"></kopla-header>

<div class="wrapper">
  <kopla-stage
    title="{{ 'icalc.page-not-found.TITLE' | translate }}"
    subTitle=""
    src="../../../../../../images/stage.png"
  ></kopla-stage>

  <br />

  <div class="call-to-action">
    <button mat-stroked-button color="primary" [routerLink]="['']">
      {{ 'icalc.page-not-found.GO_TO_ICALC_HOME' | translate }}
    </button>
    <a class="contact" mat-stroked-button color="primary" href="https://www.igus.de/contact">{{
      'icalc.page-not-found.CONTACT_IGUS' | translate
    }}</a>
  </div>
</div>

<kopla-footer
  imprintUrl="https://www.igus.de/info/company-imprint-de"
  dataPrivacyUrl="https://www.igus.de/r05/staticContent/dse/dse_DEde.htm"
></kopla-footer>
