<div class="kopla-font-headline-4 headline" dataCy="meta-data-headline">
  {{ 'icalc.meta_data_form.HEADLINE' | translate }}
</div>
<div class="kopla-font-headline-6 sub-headline">{{ 'icalc.meta_data_form.SUB-HEADLINE_CALCULATION' | translate }}</div>
<kopla-info *ngIf="isLocked">
  {{ 'icalc.meta_data_form.LOCKED_INFO' | translate }}
</kopla-info>
<div class="kopla-font-subtitle-2 sub-title">
  {{
    (createNewCalculation && createNewConfiguration
      ? 'icalc.meta_data_form.DESCRIPTION'
      : 'icalc.meta_data_form.DESCRIPTION_EDIT'
    ) | translate
  }}
</div>

<ng-container *ngIf="isLoading$ | async; else formTemplate">
  <div class="is-loading" dataCy="isLoadingCalculationItems">
    <mat-progress-spinner mode="indeterminate" [diameter]="50" [strokeWidth]="4"></mat-progress-spinner>
  </div>
</ng-container>

<ng-template #formTemplate>
  <form *ngIf="isFormReady" [formGroup]="metaDataForm.form">
    <formly-form
      [model]="metaDataForm.model"
      [fields]="metaDataForm.fields"
      [options]="metaDataForm.options"
      [form]="metaDataForm.form"
    ></formly-form>
  </form>
</ng-template>

<ng-template #duplicateCalculationDialog>
  <h2 matDialogTitle>
    {{ 'icalc.meta_data_form.COPY_CALCULATION' | translate }}
  </h2>
  <mat-dialog-content>
    <p class="kopla-font-body-2">{{ 'icalc.meta_data_form.NEW_CALCULATION_NUMBER_NEEDED-2' | translate }}</p>
    <form *ngIf="isFormReady" [formGroup]="newCalculationForm.form">
      <formly-form
        [model]="newCalculationForm.model"
        [fields]="newCalculationForm.fields"
        [options]="newCalculationForm.options"
        [form]="newCalculationForm.form"
      ></formly-form>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-between">
    <button mat-button matDialogClose color="primary">
      {{ 'icalc.meta_data_form.CANCEL' | translate }}
    </button>
    <button
      mat-flat-button
      dataCy="assign-configuration-to-copied-calculation"
      color="primary"
      [disabled]="(enableCopyCalculation$ | async) !== true"
      (click)="assignConfigurationItemsToCopiedCalculation()"
    >
      {{ 'icalc.meta_data_form.CONFIRM' | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
