<div class="search-field" dataCy="conf-tab-search-field">
  <form [formGroup]="configurationSearchForm.form" class="no-validation-padding">
    <formly-form
      [model]="configurationSearchForm.model"
      [fields]="configurationSearchForm.fields"
      [options]="configurationSearchForm.options"
      [form]="configurationSearchForm.form"
    ></formly-form>
  </form>

  <button
    mat-button
    class="expansion-toggle"
    dataCy="toggle-config-search-filter"
    [color]="configurationFilterPanel.expanded ? 'primary' : ''"
    (click)="configurationFilterPanel.toggle()"
  >
    <mat-icon class="mat-18">{{ configurationFilterPanel.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
    {{ 'icalc.meta_data.FILTER' | translate }}
  </button>
</div>

<mat-expansion-panel hideToggle class="filter-expansion-panel mat-elevation-z" #configurationFilterPanel>
  <mat-expansion-panel-header *ngIf="!!configurationFilterSource">
    <div class="chips-list">
      <mat-chip *ngIf="configurationFilterSource?.labeling" dataCy="labeling-filter-chip">
        <mat-icon class="mat-chip-filter-icon">filter_alt</mat-icon>
        {{ 'icalc.meta_data.LABELING' | translate }}: {{ configurationFilterSource?.labeling }}
        <button matChipRemove (click)="onRemoveConfigurationFilter('labeling')">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </div>
  </mat-expansion-panel-header>

  <form [formGroup]="configurationFilterForm.form">
    <formly-form
      [model]="configurationFilterForm.model"
      [fields]="configurationFilterForm.fields"
      [options]="configurationFilterForm.options"
      [form]="configurationFilterForm.form"
    ></formly-form>
  </form>

  <button
    mat-button
    class="apply-filter-button kopla-mat-button--small"
    dataCy="apply-config-search-filter"
    color="primary"
    [disabled]="!configurationFilterForm.form.dirty"
    (click)="
      onApplyConfigurationFilter();
      configurationFilterPanel.close();
      configurationFilterForm.options.updateInitialValue();
      configurationFilterForm.options.resetModel()
    "
  >
    {{ 'icalc.meta_data.APPLY_FILTER' | translate }}
  </button>
</mat-expansion-panel>

<ng-container
  *ngIf="
    configurationSearchInitiated === true && (configurationTotalCount$ | async) === 0 && noConfigurationItemsFound$
      | async
  "
>
  <div class="announcement-container">
    {{ 'icalc.chainflex.ANNOUNCEMENT-NO-RESULTS' | translate }}
  </div>
</ng-container>

<!-- CONFIGURATION RESULTS -->
<ng-container *ngIf="isLoadingConfigurationItems$ | async; else resultsTemplate">
  <div class="is-loading">
    <mat-progress-spinner mode="indeterminate" [diameter]="50" [strokeWidth]="4"></mat-progress-spinner>
  </div>
</ng-container>
<ng-template #resultsTemplate>
  <div class="results-container">
    <ng-container *ngIf="configurationItems$ | async as items">
      <ng-container *ngIf="configurationListInformation$ | async as configurationListInformation$">
        <table
          mat-table
          *ngIf="items.length > 0"
          [dataSource]="items"
          class="mat-elevation-z8 meta-data-table"
          dataCy="config-search-result-table"
          matSort
          matSortDisableClear
          [matSortDirection]="configurationSortDirection"
          [matSortActive]="configurationSortActive"
          (matSortChange)="onConfigurationSortChange($event)"
        >
          <ng-container matColumnDef="matNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.meta_data.MAT-NUMBER' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="matNumber">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <strong>{{ element.matNumber }}</strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="calculationNumbers">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'icalc.configuration_search.CALCULATION-NUMBERS' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element?.calculationNumbers">
                <ng-container *ngIf="element?.calculationNumbers?.length <= 3; else moreThan3Info">
                  <ng-container *ngFor="let calculationNumber of element.calculationNumbers">
                    <strong>{{ calculationNumber }}</strong
                    ><br />
                  </ng-container>
                </ng-container>
                <ng-template #moreThan3Info>
                  <strong
                    >{{ element.calculationNumbers[0] }}<br />
                    {{ element.calculationNumbers[1] }}<br />
                    {{ element.calculationNumbers[2] }}...</strong
                  >
                  <mat-icon
                    matTooltipClass="list-tooltip"
                    [matTooltip]="
                      element.calculationNumbers
                        | formatTooltip : 'icalc.configuration_search.TOOLTIP_Configuration_MORE_CALCS'
                    "
                    >info</mat-icon
                  >
                </ng-template>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="partNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.configuration_search.CHAIN_FLEX_NUMBER' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="partNumber">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.partNumber | displayColumnWithFallBack }}
            </td>
          </ng-container>

          <ng-container matColumnDef="labelingLeft">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.meta_data.LABELING-LEFT' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="labelingLeft">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.labelingLeft | displayColumnWithFallBack }}
            </td>
          </ng-container>

          <ng-container matColumnDef="labelingRight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.meta_data.LABELING-RIGHT' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="labelingRight">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.labelingRight | displayColumnWithFallBack }}
            </td>
          </ng-container>

          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.meta_data.CREATION_DATE' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="creationDate">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.creationDate | date : 'd/M/y h:mm' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.meta_data.CREATED_BY' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="createdBy">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <p>{{ element.createdBy | displayColumnWithFallBack }}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="modificationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.meta_data.MODIFICATION_DATE' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="modificationDate">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.modificationDate | date : 'd/M/y h:mm' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="modifiedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'icalc.meta_data.MODIFIED_BY' | translate }}
              <icalc-table-sort-icon [listInformation]="configurationListInformation$" columnName="modifiedBy">
              </icalc-table-sort-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <p>{{ element.modifiedBy | displayColumnWithFallBack }}</p>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr
            mat-row
            [class.selected-row]="selectedConfigurationId === row.id"
            *matRowDef="let row; columns: columnsToDisplay"
            (click)="onConfigurationRowClicked(row)"
          ></tr>
        </table>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngIf="configurationListInformation$ | async as configurationListInformation$">
    <mat-paginator
      [length]="configurationTotalCount$ | async"
      [pageIndex]="
        (configurationListInformation$.skip + configurationListInformation$.take) / configurationListInformation$.take -
        1
      "
      [pageSize]="configurationListInformation$.take"
      [pageSizeOptions]="[25, 50, 100]"
      (page)="onConfigurationPageChange($event)"
    >
    </mat-paginator>
  </ng-container>
</ng-template>
