@use '@igus/kopla-app/scss-import' as kopla;

$login-bg-color: kopla.get-color('orange', 50);

:host {
  background-color: $login-bg-color;
  flex-grow: 1;
  padding-top: 16rem;

  mat-card {
    margin: 0 auto;
    max-width: 450px;

    .mat-mdc-card-title {
      padding: 16px;
    }
  }

  .logo {
    margin: 10px auto;
    display: block;
    width: 130px;
  }

  .login-headline {
    margin: 25px 0;
    font-size: 24px;
    font-weight: 500;
  }

  .aut-failed {
    color: kopla.get-color('red', 500);
    margin-bottom: 25px;
    min-height: 20px;
    width: 100%;
  }
}
